{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">
    <h1>Welcome to Social Blog!</h1>
    <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tristique erat at nulla vehicula sollicitudin.
        Pellentesque vitae erat non leo imperdiet viverra vel sit amet enim. Cras varius odio sed lectus pharetra,
        at pulvinar metus hendrerit. Nam sed orci vel augue aliquam convallis eget id mi. Maecenas eget justo augue.
        Nunc consequat diam arcu. Maecenas pharetra ultrices lacus, a porta turpis ullamcorper eu.
        Suspendisse cursus ultricies ligula sit amet aliquet. Nulla tempor enim turpis, at ultricies erat dignissim et.
        Mauris vitae egestas lacus.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tristique erat at nulla vehicula sollicitudin.
        Pellentesque vitae erat non leo imperdiet viverra vel sit amet enim. Cras varius odio sed lectus pharetra,
        at pulvinar metus hendrerit. Nam sed orci vel augue aliquam convallis eget id mi. Maecenas eget justo augue.
        Nunc consequat diam arcu. Maecenas pharetra ultrices lacus, a porta turpis ullamcorper eu.
        Suspendisse cursus ultricies ligula sit amet aliquet. Nulla tempor enim turpis, at ultricies erat dignissim et.
        Mauris vitae egestas lacus.</p>
</div>
{% endblock %}